<a href="https://colab.research.google.com/github/Teenu15/C/blob/main/Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Titanic.csv')

In [4]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881138,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413493,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [11]:
df['Travelalone'] = np.where((df['sibsp'] + df ['parch']) > 0, 0, 1).astype('uint8')

In [12]:
df1 = df.drop(['pclass', 'name', 'sibsp', 'parch', 'ticket', 'cabin'], axis = 1)

In [15]:
df1.isna().sum()

survived          0
sex               0
age             263
fare              1
embarked          2
boat            823
body           1188
home.dest       564
Travelalone       0
dtype: int64

In [24]:
df['age'] = df['age'].fillna(df1['age'].median(skipna=True))

In [19]:
df1.head()

,survived,sex,age,fare,embarked,boat,body,home.dest,Travelalone
0,1,female,29.00,211.3375,S,2,NaN,"St Louis, MO",1
1,1,male,0.92,151.5500,S,11,NaN,"Montreal, PQ / Chesterville, ON",0
2,0,female,2.00,151.5500,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0
3,0,male,30.00,151.5500,S,NaN,135.0,"Montreal, PQ / Chesterville, ON",0
4,0,female,25.00,151.5500,S,NaN,NaN,"Montreal, PQ / Chesterville, ON",0

In [23]:
df_titanic = pd.get_dummies(df1, columns=['embarked', 'sex'], drop_first=True)

In [25]:
df_titanic.head()

,survived,age,fare,boat,body,home.dest,Travelalone,embarked_Q,embarked_S,sex_male
0,1,29.00,211.3375,2,NaN,"St Louis, MO",1,False,True,False
1,1,0.92,151.5500,11,NaN,"Montreal, PQ / Chesterville, ON",0,False,True,True
2,0,2.00,151.5500,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,False,True,False
3,0,30.00,151.5500,NaN,135.0,"Montreal, PQ / Chesterville, ON",0,False,True,True
4,0,25.00,151.5500,NaN,NaN,"Montreal, PQ / Chesterville, ON",0,False,True,False

In [27]:
x = df_titanic.drop(['survived'], axis = 1)
y = df_titanic['survived']

In [28]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [29]:
trans_MM = MinMaxScaler()
trans_SS = StandardScaler()

In [31]:
df_titanic['boat'] = pd.to_numeric(df_titanic['boat'], errors='coerce').fillna(0)
x = df_titanic.drop(['survived'], axis=1)
df_MM = trans_MM.fit_transform(x)

ValueError: could not convert string to float: 'St Louis, MO'